<h1>Editing Project Item</h1>

<%= form_for(@project_item) do |project| %>
  <div class="field">
    <%= project.label :title %>
    <%= project.text_field :title %>
  </div>

  <div class="field">
    <%= project.label :subtitle %>
    <%= project.text_field :subtitle %>
  </div>

  <div class="field">
    <%= project.label :body %>
    <%= project.text_area :body %>
  </div>

  <div class="actions">
    <%= project.submit %>
  </div>
<% end %> 

<%= link_to 'Back', projects_path %>
