<h1>Portfolio Items</h1>

<%= link_to "Create New Project", new_project_path %>

<% @projects_items.each do |project_item| %>
  <p>
    <%= link_to "Show #{project_item.title}", project_path(project_item.id) %>
  <p>
  </p>
  <p><%= project_item.subtitle %></p>  
  <p><%= project_item.body %></p>
  <%= image_tag project_item.thumb_image unless project_item.thumb_image.nil? %>
  <p>
    <%= link_to "Edit Project #{project_item.id}", edit_project_path(project_item.id) %>
  </p>
  <p>
    <%= link_to "Delete Project #{project_item.id}", project_path(project_item.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>